*,
::before,
::after {
  box-sizing: border-box;
}

html {
  background-color: #cfd8dc;
}

details {
  margin: 1rem auto;
  padding: 0 1rem;
  width: 35em;
  max-width: calc(100% - 2rem);
  position: relative;
  border: 1px solid #78909c;
  border-radius: 6px;
  background-color: #eceff1;
  color: #263238;
  transition: background-color 0.15s;

  > :last-child {
    margin-bottom: 1rem;
  }

  &::before {
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-radius: inherit;
    opacity: 0.15;
    box-shadow: 0 0.25em 0.5em #263238;
    pointer-events: none;
    transition: opacity 0.2s;
    z-index: -1;
  }

  &[open] {
    background-color: #fff;

    &::before {
      opacity: 0.6;
    }
  }
}

summary {
  padding: 1rem 2em 1rem 0;
  display: block;
  position: relative;
  font-size: 1.33em;
  font-weight: bold;
  cursor: pointer;

  &::before,
  &::after {
    width: 0.75em;
    height: 2px;
    position: absolute;
    top: 50%;
    right: 0;
    content: "";
    background-color: currentColor;
    text-align: right;
    transform: translateY(-50%);
    transition: transform 0.2s ease-in-out;
  }

  &::after {
    transform: translateY(-50%) rotate(90deg);

    [open] & {
      transform: translateY(-50%) rotate(180deg);
    }
  }

  &::-webkit-details-marker {
    display: none;
  }
}

p {
  margin: 0 0 1em;
  line-height: 1.5;
}

ul {
  margin: 0 0 1em;
  padding: 0 0 0 1em;
}

li:not(:last-child) {
  margin-bottom: 0.5em;
}

code {
  padding: 0.2em;
  border-radius: 3px;
  background-color: #e0e0e0;

  pre > & {
    display: block;
    padding: 1em;
    margin: 0;
  }
}
