<div class="registration-form">
  <div class="mt-4">
    <form action="/api/employee/store" method="POST">
      <div class="form-icon">
        <span><i class="icon icon-user"></i></span>
      </div>
      <div class="form-group">
        <input
          type="text"
          class="form-control item"
          id="name"
          name="name"
          placeholder="Employee name"
        />
      </div>
      <div class="form-group">
        <input
          type="email"
          class="form-control item"
          id="email"
          name="email"
          placeholder="Email"
        />
      </div>
      <div class="form-group">
        <input
          type="text"
          class="form-control item"
          id="age"
          name="age"
          placeholder="Age"
        />
      </div>
      <div class="form-group">
        <input
          type="text"
          class="form-control item"
          id="position"
          name="position"
          placeholder="Position"
        />
      </div>
      <div class="form-group">
        <input
          type="text"
          class="form-control item"
          id="salary"
          name="salary"
          placeholder="Salary"
        />
      </div>
      <div class="form-group">
        <input
          type="text"
          class="form-control item"
          id="phonenumber"
          name="phonenumber"
          placeholder="Phone number"
        />
      </div>
      <div class="form-group">
        <input
          type="text"
          class="form-control item"
          id="dob"
          name="dob"
          placeholder="Birthday"
        />
      </div>
      <div class="form-group">
        <input
          type="text"
          class="form-control item"
          id="code_resident"
          name="code_resident"
          placeholder="Code resident"
        />
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-block create-account">Add new
          employee</button>
      </div>
    </form>
  </div>
</div>