@import url(https://fonts.googleapis.com/css?family=Ubuntu);

body {
  text-align: center;
  vertical-align: center;
  background: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);
}

.image {
  display: inline-block;
  margin-top: 30px;
  transition: all 0.8s;
}

.image:hover {
  transform: scale(1.1);
}

.image:hover figcaption {
  opacity: 1;
  transition: opacity 0.8s;
}

figure {
  font-family: "Ubuntu";
  font-size: 20px;
  color: #282828;
  margin: 0;
  margin-bottom: 30px;
}

img {
  border: 1px solid grey;
  width: 300px;
  height: 300px;
  box-shadow: 0px 0px 20px 0px black;
}

figcaption {
  opacity: 0;
  text-align: center;
}

span {
  font-style: italic;
  font-size: 15px;
}
span:before {
  content: " - ";
}

a {
  text-decoration: none;
  color: #52618d;
}
