doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="./assets/css/main.css")
    body 
        section
            figure
                img(src="https://images.unsplash.com/photo-1523978591478-c753949ff840?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=4a7ae67e32aeafa8fcef6002dc98dc01" alt="Mountains surrounding a body of water")
                figcaption The water was freezing!

            figure
                img(src="https://images.unsplash.com/photo-1504217051514-96afa06398be?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=4c2699a4a22cc550d845fdbc25b676d7" alt="Sun setting over the mountains")
                figcaption The sunset was beautiful that day.

            figure
                img(src="https://images.unsplash.com/photo-1430778643786-afad072a0bb1?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=a2f7f06ab7480af81b66d854ec7cfb90" alt="Countryside with tire tracks in grass")
                figcaption We roamed the countryside and noticed these tracks in the grass. So we followed.
                
            figure
                img(src="https://images.unsplash.com/photo-1448827067615-fa74e848e86c?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=882a9906c73a6e21b7614adfa0080c11" alt="A terrifying close-up of an insect")
                figcaption This was just terrifying. He wasn't that big...

            figure
                img(src="https://images.unsplash.com/photo-1510020553968-30f966e1ec9e?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=b06f39fc12490ec16b4603f87413a9d8" alt="Dog looking out car window")
                figcaption Benson looking pensive as usual.
                
            figure
                img(src="https://images.unsplash.com/photo-1469474968028-56623f02e42e?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=b5d101f72e23afc7e5d667ad09d555ad" alt="Person on mountaintop")
                figcaption We got lost for hours.

            figure
                img(src="https://images.unsplash.com/photo-1520247478381-4d32def223c1?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=8b4f951c5fb787428647e61369f23aa3" alt="Birds eye view of ocean waves")
                figcaption I jumped from the cliffside and plummeted deep into the waves.

            figure
                img(src="https://images.unsplash.com/photo-1507146426996-ef05306b995a?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=8f37819758fae3fecda8434f24eaaea0" alt="A cute golden retriever puppy")
                figcaption We met this cute little guy. Benson was not amused!
                
            figure
                img(src="https://images.unsplash.com/photo-1450045439515-ff27c2f2e6b1?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=97a25f2cb9d2cc37987223a2ca31ad3c" alt="Whale fin emerging from ocean")
                figcaption Whale watching... or were they watching us?