<form action="/login" method="POST">
  <div class="wrapper">
    <div class="logo">
      <img
        src="https://www.freepnglogos.com/uploads/twitter-logo-png/twitter-bird-symbols-png-logo-0.png"
        alt=""
      />
    </div>
    <div class="text-center mt-4 name">
      Twitter
    </div>
    <form class="p-3 mt-3">
      <div class="form-field d-flex align-items-center">
        <span class="far fa-user"></span>
        <input type="text" name="user" id="userName" placeholder="Username" />
      </div>
      <div class="form-field d-flex align-items-center">
        <span class="fas fa-key"></span>
        <input type="password" name="pass" id="pwd" placeholder="Password" />
      </div>
      <button type="submit" class="btn mt-3">Sign in</button>
    </form>
    <div class="text-center fs-6">
      <a href="#">Forget password?</a>
      or
      <a href="/sign_up">Sign up</a>
    </div>
  </div>
</form>