html,
body {
  height: 95%;
}

body {
  background: linear-gradient(135deg, #000111 0%, #000000 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.illustration-editor {
  margin-top: -2rem;
  margin-right: -10rem;
  display: grid;
  grid-template-rows: 24px auto;
  justify-items: center;
  position: relative;
}

.code {
  position: absolute;
  width: 290px;
  height: 145px;
  background: #1d1e22;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  z-index: 5;
  header {
    display: grid;
    grid-template-columns: 36px auto 36px;
    align-items: center;

    svg {
      margin: 10px;
    }
    h1 {
      font-family: Lato, sans-serif;
      font-weight: 900;
      font-size: 14px;
      letter-spacing: 1.57px;
      color: #c5c8d4;
      margin: 0;
    }
  }
  &-html {
    left: -100px;
    top: 40px;
  }
  &-css {
    left: -25px;
    top: 200px;
  }
  &-js {
    left: -175px;
    top: 360px;
  }
  .code-content {
    margin: 0 10px 10px;
    color: white;
    .c-r {
      color: #a88038;
    }
    .c-o {
      color: #de7300;
    }
    .c-y {
      color: #e1ca72;
    }
    .c-g {
      color: #74b087;
    }
    .c-p {
      color: #9f8198;
    }
    .c-b {
      color: #7a99ad;
    }
    .c-c {
      color: #666666;
    }
  }
  &-css {
    .code-content code {
      .line {
        @for $i from 1 through 5 {
          &-#{$i} {
            width: 0%;
            margin: 0;
            border-right: 0.15em solid transparent;
            overflow: hidden;
            display: inline-block;
            white-space: nowrap;
          }
        }
        @for $i from 1 through 4 {
          &-#{$i} {
            animation: typing-#{$i}
                3s
                unquote((($i - 1) * 3) + "s")
                steps(30, end)
                forwards,
              cursor 1s linear unquote((($i - 1) * 3) + "s") 3;
          }
        }
        &-1,
        &-3,
        &-4 {
          animation-duration: 1s;
          animation-timing-function: steps(10, end);
        }
        &-5 {
          border-color: transparent;
          animation: typing-5 3s 12s steps(30, end) forwards,
            cursor-persist 1s linear 12s infinite;
        }
        &-2 {
          margin-left: 2rem;
        }
        &-3,
        &-4,
        &-5 {
          margin-left: 4rem;
        }
      }
    }
  }
}

.editor-block {
  position: relative;
  display: block;
  width: 500px;
  height: 421px;
  background: linear-gradient(109.61deg, #4c4f5a 4.26%, #202125 84.84%);
  border-radius: 10px;
}

@keyframes typing-1 {
  from {
    width: 0;
  }
  to {
    width: 60px;
  }
}
@keyframes typing-2 {
  from {
    width: 0;
  }
  to {
    width: 220px;
  }
}
@keyframes typing-3 {
  from {
    width: 0;
  }
  to {
    width: 70px;
  }
}
@keyframes typing-4 {
  from {
    width: 0;
  }
  to {
    width: 75px;
  }
}
@keyframes typing-5 {
  from {
    width: 0;
  }
  to {
    width: 141px;
  }
}

@keyframes cursor {
  from,
  to,
  20%,
  80% {
    border-color: transparent;
  }
  25%,
  75% {
    border-color: white;
  }
}

@keyframes cursor-persist {
  from,
  45% {
    border-color: transparent;
  }
  50%,
  to {
    border-color: white;
  }
}
