<nav
  class="navbar navbar-expand-lg"
  data-bs-theme="light"
  style="background-color: #A0DEFF"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="/api">BHCompany</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/api">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/api/about">Weather</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/api/contact-us">Contact us</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Management
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/api/employee/register">Add new
                employee</a></li>
            <li><a class="dropdown-item" href="/api/manage/stored/employee">My
                employees</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="/api/news">News</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button
          class="btn"
          style="background-color: #5AB2FF"
          type="submit"
        >Search</button>
      </form>
    </div>
  </div>
</nav>