@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");

body {
  background: #edf5fa;
  margin: 25px;
  font-family: "Nunito", sans-serif;
}

container {
  display: block;
  width: 100%;
  max-width: 800px;
  margin: auto;
  border-radius: 3px;
  position: relative;
  background: white;
  box-shadow: 10px 10px 100px 0 darken(#edf5fa, 5);
}

h2 {
  padding: 20px;
  margin: 0;
  border-bottom: 1px solid rgba(black, 0.1);
  font-size: 1.1em;

  &:after {
    content: "13 Feb 2019 12:02:0220 AM";
    float: right;
    font-size: 0.9em;
    font-family: monospace;
    color: #aaa;
    line-height: 1.5em;
  }
}

@mixin statuses() {
  &.success:before {
    color: #9cc320;
    content: "\f058";
  }

  &.warning:before {
    color: #ffa50a;
    content: "\f06a";
  }

  &.failure:before {
    color: #da281e;
    content: "\f057";
  }
}

details {
  width: 100%;
  overflow: hidden;
  border-bottom: 1px solid rgba(black, 0.1);

  &:last-of-type {
    border-bottom: none;
  }

  summary {
    display: block;
    user-select: none;
    outline: none;
    padding: 20px;
    margin-bottom: 0px;
    transition: all 600ms cubic-bezier(0.23, 1, 0.32, 1);
    transition-property: margin, background;
    font-weight: 600;
    border-bottom: 1px solid rgba(black, 0.1);

    &:last-of-type {
      border-bottom: none;
    }

    &::-webkit-details-marker {
      display: none;
    }

    &:before {
      font: normal normal normal 1em/1 FontAwesome;
      font-weight: 900;
      content: "";
      margin-right: 0.5em;
    }

    &:hover {
      background: #f6f8fb;
      cursor: pointer;
    }

    @include statuses();
  }

  ul {
    padding: 0;
    margin-left: 1em;

    li {
      list-style: none;
      padding: 1em 1em 1em 3em;
      font-weight: bold;
      position: relative;

      &:before {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        float: left;
        content: "";
        width: 0em;
        height: 1.5em;
        border-left: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
      }

      &:after {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        float: left;
        content: "";
        width: 1em;
        height: 100%;
        border-left: 1px solid #ccc;
      }

      &:last-child:after {
        display: none;
      }

      div {
        opacity: 0;

        &:before {
          font: normal normal normal 1em/1 FontAwesome;
          font-weight: 900;
          position: absolute;
          top: 1em;
          left: 1em;
          padding: 0 0.5em;
          display: block;
          float: left;
          content: "";
          width: 1em;
          height: 100%;
        }

        @include statuses();
      }

      span {
        display: block;
        font-size: 0.9em;
        font-weight: normal;

        &:before {
          opacity: 0.3;
          font-weight: bold;
        }

        &.status:before {
          content: "status: ";
        }
        &.info:before {
          content: "info: ";
        }
      }
    }
  }

  &[open] {
    summary {
      margin-bottom: 20px;
      padding-bottom: 20px;
      border-bottom: 1px solid rgba(black, 0.1);
    }

    @for $i from 1 to 50 {
      summary ~ ul li:nth-child(#{$i}) div,
      summary ~ ul li:nth-child(#{$i}) div:before {
        animation: sweep 0.5s ease-in-out normal forwards;
        animation-delay: ($i - 1) * 0.1s;
      }

      summary ~ ul li:nth-child(#{$i}):before {
        animation: grow 0.5s ease-in-out normal forwards;
        animation-delay: $i * 0.1s;
      }
    }

    @keyframes sweep {
      0% {
        opacity: 0;
        margin-left: -1em;
        margin-right: 1em;
      }
      100% {
        opacity: 1;
        margin-left: 0;
        margin-right: 0;
      }
    }

    @keyframes grow {
      0% {
        width: 0;
      }
      100% {
        width: 1em;
      }
    }
  }
}
