doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="../assets/css/app.css")
    body 
        a(href="#")
            figure
                .date
                    span.card-date-day 20
                    span.card-date-month APR
                figcaption
                    h4 
                        span The arsonist had oddly shaped feet
                        p The magic Indian is a mysterious spiritual force, and we're going to Cathedral Rock, and that's the vortex of the heart.
