html {
  background-color: darkseagreen;
}
body {
  max-width: 30em;
  margin: 4em auto 2em;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5em;
  background-color: #ddd;
  padding: 0 6% 2em;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.1), 3px 2px 10px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
h1 {
  font-size: 2.5em;
  line-height: 1.1em;
  font-weight: bold;
  color: #333;
  position: relative;
  top: -0.92em;
  text-shadow: 1px 0px 0px rgba(0, 0, 0, 0.6);
}
p {
  margin-bottom: 1em;
  color: slategrey;
}
hr {
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  margin: 2.5em 0;
  position: relative;
}
hr:before,
hr:after {
  content: "";
  position: absolute;
  bottom: 0px;
  height: 5em;
  width: 100%;
  background: radial-gradient(
    ellipse at bottom,
    rgba(255, 255, 255, 0.35) 0%,
    rgba(255, 255, 255, 0) 70%
  );
  z-index: 0;
}
hr:after {
  top: 0px;
  bottom: auto;
  height: 1.5em;
  background: radial-gradient(
    ellipse at top,
    rgba(0, 0, 0, 0.06) 0%,
    rgba(0, 0, 0, 0) 70%
  );
}
