/*
$color_primary:   #a083bc;
$color_secondary: #0c004f;*/
$color_primary: #2ec2b0;
$color_secondary: #c0d2d4;
$color_secondary--rgba: rgba($color_secondary, 10%);

body {
  font-family: "Montserrat", sans-serif;
  text-transform: lowercase;
  font-weight: 400;
  line-height: 1.666;
  background: $color_secondary;
  color: #555;
}

h1 {
  font-weight: 900;
  font-size: 500%;
  text-align: center;
  margin-top: 4rem;
  color: #fff;
  line-height: 1.2;
  span {
    padding: 5px 15px;
    background: $color_primary;
  }
}

table {
  border-collapse: collapse;
  width: 100%;
  font-size: 90%;
  max-width: 100%;
  text-align: left;
  .center {
    text-align: center;
  }
}

th,
td {
  padding: 0.5rem;
  vertical-align: top;
}

th {
  text-align: inherit;
}

thead th {
  font-weight: 600;
  vertical-align: bottom;
  color: $color_primary;
  border-bottom: (2 * 1px) solid lighten($color_primary, 35%);
}

td {
  border-top: 1px solid lighten($color_primary, 40%);
}

.dictionary {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 4rem auto;
  max-width: 90%;
}

a {
  color: inherit;
  font-weight: 600;
  text-decoration: none;
  border-bottom: solid 2px lighten($color_secondary, 10%);
  &:hover {
    border-color: $color_primary;
  }
}

.dictionary > .term {
  text-align: center;
  max-width: 20rem;
  margin-bottom: 3rem;
  padding: 2rem;
  border-radius: 3px;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05), 0 5px 20px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: all 100ms ease-in-out;
  &:hover {
    transform: scale(1.01) translateY(-4px);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05), 0 3px 10px rgba(0, 0, 0, 0.1),
      0 5px 20px rgba(0, 0, 0, 0.2);
  }
}

.dictionary > .term > dt {
  margin-bottom: 1rem;
}

dt {
  color: $color_primary;
  line-height: 1;
  span {
    font-size: 200%;
    font-weight: 900;
  }
}

dd {
  font-size: 92.5%;
  margin-left: 0;
}

dd dt {
  margin-top: 1rem;
  margin-bottom: 0.25rem;
  font-weight: 600;
  font-size: inherit;
}

dd dl {
  font-size: 90%;
  margin: 1rem auto 0 auto;
  letter-spacing: 0.33px;
  max-width: 15rem;
}

strong {
  color: $color_primary;
}

dd dl .term {
  margin-bottom: 1rem;
}

dd strong {
  border-bottom: solid 1px rgba(255, 255, 255, 0.5);
}
