<div id="page-doc" markdown="1">
  <h1 id="open-source-projects-using-express">Open source projects using Express</h1>
  <div class="doc-box doc-warn">
    <p><b>Warning</b>: This information refers to third-party sites, products,
      or modules that are not maintained by the Expressjs team. Listing here
      does not constitute an endorsement or recommendation from the Expressjs
      project team.</p>
  </div>
  <p>Some open-source projects that use Express:</p>
  <ul>
    <li><strong><a href="https://github.com/builderbook/builderbook">Builder
          Book</a></strong>: Open source web app to publish documentation or
      books. Built with React, Material-UI, Next, Express, Mongoose, MongoDB.</li>
    <li><strong><a href="https://github.com/async-labs/saas">SaaS Boilerplate</a></strong>:
      Open source web app to build your own SaaS product. Built with React,
      Material-UI, Next, MobX, Express, Mongoose, MongoDB, Typescript.</li>
    <li><strong><a href="https://bitmidi.com">BitMidi</a></strong>: Open source
      web app powered by Express. BitMidi is a historical archive of MIDI files
      from the early web era. It uses the latest modern web technology including
      WebAssembly and Web Audio to bring MIDI back to life. (<a
        href="https://github.com/feross/bitmidi.com"
      >source code</a>)</li>
  </ul>
</div>