article {
  max-width: 60%;
  margin: 0 auto;
}
p {
  font-size: 20px;
}
hr.sep-1 {
  position: relative;
  display: block;
  margin-top: 4em;
  margin-bottom: 4em;
  height: 3px;
  border: none;
  background: linear-gradient(to right, transparent 50%, #fff 50%),
    linear-gradient(to right, #00b9ff, #59d941);
  background-size: 1.5rem, 100%;
  transform: rotate(-5deg);
  transform-origin: 50% 0%;
}

hr.sep-1::after {
  font-family: "FontAwesome";
  content: "\f061     \f1cb     \f060";
  white-space: pre;
  display: block;
  position: absolute;
  top: 1px;
  left: 50%;
  padding-left: 1rem;
  padding-right: 1rem;
  transform: translate(-50%, -50%);
  transform-origin: 50% 50%;
  background-image: linear-gradient(to right, #00b9ff, #59d941);
  padding: 0 1em;
  color: transparent;
  -webkit-background-clip: text;
}
hr.sep-1::before {
  content: "";
  width: 5rem;
  height: 1rem;
  display: block;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: 50% 50%;
  background-color: white;
}

hr.sep-2 {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    #f0f0f0,
    #00b9ff,
    #59d941,
    #f0f0f0
  );
}
hr.sep-3 {
  border: none;
  height: 1px;
  background-image: linear-gradient(to right, #f0f0f0, #8f8f8f, #f0f0f0);
}
hr.sep-3::after {
  content: "ยง";
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%) rotate(60deg);
  transform-origin: 50% 50%;
  padding: 1rem;
  background-color: white;
}
