body {
  /* left and right alignment */
  margin: 2em auto;
  /* The maximum length of body */
  max-width: 40em;
  line-height: 1.5;
}
hr {
  margin: 1.5em 0;
  text-align: center;
  border: none;
}
hr:before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #000;
  margin: 0 0.4em;
}
hr:after {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #eee;
  margin: 0 0.4em;
}
