<section class="ftco-section">
  <div
    class="container"
    style="background-color: #fff; width: 600px; height:300px; box-sizing: border-box"
  >

    <h1 class="mb-4" style="display: inline">Find your account</h1>
    <div class="mt-4 mb-4 mr-4 ml-4">

      <div class="p-4">
        <form class="signin-form" action="#" method="POST">
          <div class="form-group mb-3">
            <p class="text-left" style="font-weight: 300px">Please enter your
              email or your phone.
            </p>
            <input
              type="text"
              class="form-control"
              placeholder="Email or phonenumber"
              required
            />
          </div>
        </form>
      </div>
      <div class="align-items-end" style="margin: 5px auto; float:right">
        <button class="btn btn-secondary" class="m-5">
          <a href="/login" class="text-decoration-none text-white">
            Cancel
          </a>
        </button>
        <button class="btn btn-primary">
          <a href="" class="text-decoration-none text-white">
            Find
          </a>
        </button>
      </div>
    </div>

  </div>
</section>