<header class="header">
  <nav class="navbar navbar-expand-lg navbar-dark bg-body-tertiary">
    <a class="navbar-brand text-dark mx-4" href="/home">Document web</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle text-dark"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Getting started
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a
              class="dropdown-item"
              href="/Getting_started/Installing"
            >Installing</a>
            <a class="dropdown-item" href="/Getting_started/Hello_world">Hello
              world</a>
            <a
              class="dropdown-item"
              href="/Getting_started/Express_generator"
            >Express generator</a>
            <a class="dropdown-item" href="/Getting_started/Basic_routing">Basic
              routing</a>
            <a class="dropdown-item" href="/Getting_started/Static_files">Static
              files</a>
            <a class="dropdown-item" href="/Getting_started/More_example">More
              examples</a>
            <a class="dropdown-item" href="/Getting_started/FAQ">FAQ</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle text-dark"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Guide
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/Guide/Routing">Routing</a>
            <a class="dropdown-item" href="/Guide/Writing_middleware">Writing
              middleware</a>
            <a class="dropdown-item" href="/Guide/Using_middleware">Using
              middleware</a>
            <a
              class="dropdown-item"
              href="/Guide/Override_the_Express_API"
            >Override the Express API</a>
            <a class="dropdown-item" href="/Guide/Using_template_engines">Using
              template engines</a>
            <a class="dropdown-item" href="/Guide/Error_handing">Error handling</a>
            <a class="dropdown-item" href="/Guide/Debugging">Debugging</a>
            <a
              class="dropdown-item"
              href="/Guide/Express_behind_proxies"
            >Express behind proxies</a>
            <a class="dropdown-item" href="/Guide/Moving_to_Express_4">Moving to
              Express 4</a>
            <a class="dropdown-item" href="/Guide/Moving_to_Express_5">Moving to
              Express 5</a>
            <a class="dropdown-item" href="/Guide/DatabaseIntegration">Database
              integration</a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle text-dark"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            API reference
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/API_reference/Version5x_beta">5.x
              (beta)</a>
            <a class="dropdown-item" href="/API_reference/Version_4x">4.x</a>
            <a class="dropdown-item" href="/API_reference/Version_3x">3.x
              (deprecated)</a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle text-dark"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Advanced topics
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a
              class="dropdown-item"
              href="/Advanced_topics/TemplateEngines"
            >Template engines</a>
            <a
              class="dropdown-item"
              href="/Advanced_topics/ProcessManages"
            >Process managers</a>
            <a
              class="dropdown-item"
              href="/Advanced_topics/SecurityUpdates"
            >Security updates</a>
            <a
              class="dropdown-item"
              href="/Advanced_topics/SecurityBestPractices"
            >Security best practices</a>
            <a
              class="dropdown-item"
              href="/Advanced_topics/PerfomanceBestPractices"
            >Performance best practives</a>
            <a
              class="dropdown-item"
              href="/Advanced_topics/HealthCheckAndGracefulShutdown"
            >Health checks and graceful shutdown</a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle text-dark"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Resources
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/Resources/Community">Community</a>
            <a class="dropdown-item" href="/Resources/Glossary">Glossary</a>
            <a class="dropdown-item" href="/Resources/Template_Engines">Tmeplete
              Engines</a>
            <a class="dropdown-item" href="/Resources/Middleware">Middleware</a>
            <a class="dropdown-item" href="/Resources/Utility_modules">Utility
              modules</a>
            <a class="dropdown-item" href="/Resources/Frameworks">Frameworks</a>
            <a
              class="dropdown-item"
              href="/Resources/Companies_using_Express"
            >Companies using Express</a>
            <a class="dropdown-item" href="/Resources/Opensourceprojects">Open
              source projects</a>
            <a
              class="dropdown-item"
              href="/Resources/Additional_learning"
            >Additional learning</a>
            <a
              class="dropdown-item"
              href="/Resources/Contributing_to_express"
            >Contributing to Express</a>
            <a class="dropdown-item" href="/Resources/ReleaseChangeLog">Release
              Change Log</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle text-dark"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Reference
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a
              class="nav-link text-dark dropdown-item"
              href="/book_reference"
            >Book reference</a>
            <a class="nav-link text-dark dropdown-item" href="/courses">Course
              reference</a>
          </div>
        </li>
        <li class="nav-item">
          <form class="form-inline my-2 my-lg-0">
            <input
              class="form-control mr-sm-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <div class="btn-search-web">
              <a class="nav-link text-dark">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-search"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"
                  />
                </svg>
              </a>
            </div>
          </form>
        </li>
      </ul>
      <div class="avatar-user">
        <a href="">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-chevron-down"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"
            />
          </svg>
          <img
            class="avatar"
            src="https://i.pinimg.com/236x/3f/14/84/3f1484ebe84f35a40c3161f8bb54c70c.jpg"
          />

        </a>
        <ul class="subnav bg-light list-group list-group-flush">
          <li class="list-group-item"><a
              href="/book_reference/create_new_book"
            >Create new book</a></li>
          <li class="list-group-item"><a href="/me/stored/books">My reference
              book</a></li>
          <li class="list-group-item"><a href="">Create new course</a></li>
          <li class="list-group-item"><a href="">My course</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>