@import url("https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap");

* {
  font-family: "Share Tech Mono", monospace;
}

h1 {
  color: #274180;
  margin-left: 20px;
}
p {
  max-width: 600px;
  margin-left: 20px;
}

#btns {
  display: flex;
  margin-left: 20px;
  margin-top: 10px;
  align-items: center;
}

button {
  width: 30px;
  height: 30px;

  margin: 0px;
  padding: 0px;
  border: 0px;

  border-left: 1px solid;
  border-top: 1px solid;
}

#counterWrapper {
  display: flex;
  width: 70px;
  height: 26px;
  margin: 0px;
  padding: 0px;
  margin-left: 4px;
  border: 2px solid black;
}

#solvedCount {
  text-align: center;
  margin: auto;
}

button:nth-child(4n) {
  border-right: 1px solid blue;
}

#wrapper {
  width: 480px;
  margin-left: 22px;
}

div:nth-child(4n) {
  border-bottom: 1px solid blueviolet;
}

button:hover {
  box-shadow: inset 0 0 2px 1px blueviolet;
}

button:focus {
  outline: none;
  box-shadow: inset 0 0 1px 1px white;
}

.control {
  width: 100px;
  margin: 4px;
  border: 2px solid black;
}

.control:hover {
  box-shadow: inset 0 0 2px 1px blueviolet;
}

.control:nth-child(4n) {
  border-right: 2px solid black;
}

#selection {
  display: none;
  position: fixed;
}

#selection > .split {
  display: block;
}

#selection > span {
  display: inline-block;
  width: 20px;
  border: 1px solid blueviolet;
  background: #323;
  color: #ddd;
  padding: 2px;
  cursor: pointer;
}

#selection > span:hover {
  background: #55a;
}

.wrong {
  box-shadow: inset 0 0 2px 1px red;
}
