<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    {{{body}}}
    {{! Only needs the Handlebars Runtime, because the exposed templates are precompiled. }}
    <script
      src="//cdn.jsdelivr.net/handlebarsjs/4.0.5/handlebars.runtime.min.js"
    ></script>
    <script>
      (function(){ var revive = Handlebars.template, templates =
      Handlebars.template = Handlebars.templates || {};
      {{#templates}}
        templates['{{{name}}}'] = revive({{{template}}});
      {{/templates}}
      }())
    </script>
  </body>
</html>