@import url(https://fonts.googleapis.com/css?family=Montez);
@import url(https://fonts.googleapis.com/css?family=Jacques+Francois);

body {
  padding: 0.25rem;
  max-width: 400px;
  margin: 0 auto;
  font-family: "Jacques Francois";
  color: #333;
  background: #eee;
  font-size: 1.1em;
}

hr {
  border: 1px solid transparent;
  height: 1em;
  width: 15%;
  position: relative;
}

hr:before,
hr:after {
  content: " V ";
  color: #fff;
  font-family: Montez;
  position: absolute;
}

hr:before {
  left: 0;
  text-shadow: -1px 0px #ccc;
  -webkit-transform: scaleX(15) scaleY(2) rotate(-90deg);
  -moz-transform: scaleX(15) scaleY(2) rotate(-90deg);
  -ms-transform: scaleX(15) scaleY(2) rotate(-90deg);
  -o-transform: scaleX(15) scaleY(2) rotate(-90deg);
  transform: scaleX(15) scaleY(2) rotate(-90deg);
}
hr:after {
  right: 0;
  text-shadow: 1px 0px #ccc;
  -webkit-transform: scaleX(15) scaleY(2) rotate(90deg);
  -moz-transform: scaleX(15) scaleY(2) rotate(90deg);
  -ms-transform: scaleX(15) scaleY(2) rotate(90deg);
  -o-transform: scaleX(15) scaleY(2) rotate(90deg);
  transform: scaleX(15) scaleY(2) rotate(90deg);
}
